*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.main{
	width: 100%;
	height: 800px;
}
.z1{
	width: 100%;
	height: 200px;
	background-image: url(img/box1.jpg);
}
.z2{
	width: 100%;
	height:200px;
	background-image: url(img/box2.jpg);
}
.z3{
	width: 100%;
	height: 200px;
	background-image: url(img/box3.jpg);
}
.z4{
	width: 100%;
	height: 200px;
	background-image: url(img/box4.jpg);
}